body {
    background: #21674b5b;
}
.clock {
    position: relative;
    top: 50%;
    left: 70%;
    transform: translateX(-50%) translateY(-50%);
    color: #265fb4;
    font-size: 60px;
    font-size: Montserrat;
    letter-spacing: 7px;
}
p {
    position: relative;
    top: 25%;
    left: 15%;
    font-size: 50px;
    color: rgba(85, 85, 90, 0.843);
}